<!DOCTYPE html>
<html>
  <head>
    <title>Funtopia-Magazin de jucarii</title>
    <meta
      name="keywords"
      content=" jucarii, copil, cadou, magazin de jucarii, magazin de jucarii online, jocuri, jocuri de societate, jocuri educative, puzzle, puzzle 3D, puzzle pentru copii, puzzle pentru adulti, Lego, Lego pentru copii, Lego pentru adulti, Lego Harry Potter, Lego Spiderman"
    />
    <meta
      name="description"
      content="Magazin de jucarii. Jocuri educative, jocuri de societate. Puzzle-uri. Jucarii de tip Lego"
    />
    <%- include("../fragmente/head.ejs") %>
  </head>
  <style></style>
  <body>
    <%- include("../fragmente/header") -%>
    <main>
      <h1>Despre noi</h1>
      <div id="par">
        <p>
          Funtopia a fost, initial, doar un vis al creatorului nostru, ce isi
          dorea sa creeze o lume mai frumoasa pentru cei mici, o lume in care
          fericirea este unicul sentiment, iar magia este o componenta
          fundamentala. Spiridusii i-au auzit chemarea si i-au venit indata in
          ajutor, punand bazele micului nostru univers.
        </p>
        <p>
          Cu o traditie de peste 10 ani, ne mandrim sa spunem ca suntem printre
          primele magazine din Romania care a redus utilizarea plasticului pe
          cat de mult posibil.
        </p>
        <p>In acest moment, ne puteti gasi in 3 locatii:</p>
        <div id="coloane">
          <ul>
            <li>
              <p>Funtopia Grozavesti:</p>
              <address>
                Soseaua Orhideelor 19, Bucuresti, sector 6, Romania
              </address>
            </li>
            <li>
              <p>Funtopia Charlles de Gaulle:</p>
              <address>
                Strada Dr. Grigore Mora 31, sector 1, Bucuresti, Romania
              </address>
            </li>
            <li>
              <p>Funtopia Piata Muncii:</p>
              <address>
                Strada Teleajen 65, sector 2, Bucuresti, Romania
              </address>
            </li>
          </ul>
        </div>
        <hr />
        <p>In cadrul magazinului nostru, suntem specializati in:</p>
        <ul>
          <li>Jocuri de societate</li>
          <li>Puzzle-uri</li>
          <li>Jucarii Lego</li>
        </ul>
      </div>
      <div class="align-center bg-primary rounded-2">
        <p class="fw-bold text-center">
          Lasati-ne adresa de email daca vreti sa fiti la curent cu noile
          noastre creatii!
          <button class="btn btn-light rounded-circle text-success">
            Abonare
          </button>
        </p>
      </div>
      <h4>Acesta este un paragraf</h4>
      <div class="border border-primary border-2">Acesta este un border</div>
      <div id="container">
        <div id="text">
          Un text
          <div id="text-reflectat">Un text</div>
        </div>
      </div>
        <div id="imagine"></div>
      </div>

      <div id="sc">
        <div id="st">Text</div>
      </div>
    </main>

    <%- include("../fragmente/footer_despre.ejs") %>
  </body>
</html>
