<!DOCTYPE html>
<html>
  <head>
    <title>Funtopia-Magazin de jucarii</title>
    <meta
      name="keywords"
      content=" jucarii, copil, cadou, magazin de jucarii, magazin de jucarii online, jocuri, jocuri de societate, jocuri educative, puzzle, puzzle 3D, puzzle pentru copii, puzzle pentru adulti, Lego, Lego pentru copii, Lego pentru adulti, Lego Harry Potter, Lego Spiderman"
    />
    <meta
      name="description"
      content="Magazin de jucarii. Jocuri educative, jocuri de societate. Puzzle-uri. Jucarii de tip Lego"
    />
    <%- include("../fragmente/head.ejs") %>
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap/dist/css/bootstrap.css"
      type="texs/css"
    />
  </head>

  <body>
    <%- include("../fragmente/header.ejs") %>
    <main>
      <h2>Va invitam sa descoperiti galeria cu produsele noastre!</h2>

      <%- include("../fragmente/galerieFrag.ejs") %>
    </main>
    <%- include("../fragmente/footer.ejs") %>
  </body>
</html>
