/*#welcome {
  border: 3px orange solid;
}

#welcome > h2 {
  color: red;
}

#jocuri ~ * {
  color: blue;
}
*/

html {
  font-size: 18px;
  transition: font-size 0.5s linear;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

body {
  --culoare_text: #6b2b56;
  --culoare_margini: #eb5ebc;
  --culoare_fundal: #eea7d6;
  --c1: #6b4b60;
  --c2: #b74992;
  --spatiere-pagina: 8px;
  --padd: 20px;
  --culoare-fundal2: #a7ffcc;
  --culoare-text2: #1e9e53;
  --culoare-margini2: #9e1d13;
  --rosu2: #eb5044;
  --verde2: #44eb89;
  --culoare-fundal3: #ffdee3;
  --culoare-text3: #c00000;
  --culoare-margini3: #ff3334;
  --roz3: #ff6f77;
  --rozdiferit3: #ff8896;
}

body.light {
  background-color: var(--culoare_fundal);
  color: var(--culoare_text);
  padding-left: var(--spatiere-pagina);
  padding-right: var(--spatiere-pagina);
  width: 98%;
  margin: 0 auto;
  --culoare-grid: var(--culoare_margini);
  --grid-diferit: var(--culoare_text);
  --fundal-despre: #f2aada;
  --culoare-ifr: var(--culoare_text);
  --link-vizitat: var(--culoare_text);
}

body.holiday {
  background-color: var(--culoare-fundal2);
  color: var(--culoare-text2);
  border: var(--culoare-margini2);
  padding-left: var(--spatiere-pagina);
  padding-right: var(--spatiere-pagina);
  width: 98%;
  margin: 0 auto;
  --culoare-grid: var(--culoare-margini2);
  --grid-diferit: var(--rosu2);
  --fundal-despre: var(--verde2);
  --culoare-ifr: var(--culoare-text2);
  --link-vizitat: var(--rosu2);
}

body.valentine {
  background-color: var(--culoare-fundal3);
  color: var(--culoare-text3);
  border: var(--culoare-margini3);
  padding-left: var(--spatiere-pagina);
  padding-right: var(--spatiere-pagina);
  width: 98%;
  margin: 0 auto;
  --culoare-grid: var(--culoare-margini3);
  --grid-diferit: var(--roz3);
  --fundal-despre: var(--rozdiferit3);
  --culoare-ifr: var(--culoare-text3);
  --link-vizitat: var(--roz3);
}
.btn-primary {
  --bs-btn-color: #000;
  --bs-btn-bg: var(--culoare-grid);
}
#grid-pagina > * {
  border: 1px solid var(--culoare-grid);
  padding: var(--padd);
  border-radius: 25px;
}

#welcome {
  border: 2px solid var(--culoare_text);
}
#vandute {
  border: 0.1px solid var(--culoare-grid);
}

#oferte {
  border-width: thick;
  border-color: var(--grid-diferit);
}

#copii {
  background-color: var(--grid-diferit);
  color: var(--culoare_fundal);
}

#grid-pagina {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "z-welcome z-welcome z-welcome z-welcome"
    "z-vandute z-vandute z-vandute z-vandute"
    "z-produse z-produse z-oferte z-informatii"
    "z-intrebari z-anunturi z-anunturi z-copii";
  grid-gap: var(--spatiere-pagina);
}

#welcome {
  grid-area: z-welcome;
}

#oferte {
  grid-area: z-oferte;
}

#intrebari {
  grid-area: z-intrebari;
}

#Anunturi {
  grid-area: z-anunturi;
}

#copii {
  grid-area: z-copii;
}

#informatii {
  grid-area: z-informatii;
}

#vandute {
  grid-area: z-vandute;
}

#produse {
  grid-area: z-produse;
}
th,
td {
  border: 5px solid;
  border-collapse: collapse;
}
table {
  border: 5px solid;
  border-collapse: collapse;
  caption-side: bottom;
}

tr:nth-child(even) td {
  border-bottom-color: var(--c1);
}

tr:nth-child(odd) td {
  border-bottom-color: var(--c2);
}

table:hover {
  outline: grey;
  transition: linear;
}

#jucarii tr:hover {
  outline: 5px solid rgba(61, 68, 61, 0.7);
}

#jucarii tr {
  outline: 5px solid rgba(61, 68, 61, 0);
  transition: outline 1s linear;
}

.inima {
  display: flex;
}

.aifr {
  color: var(--link-vizitat);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: var(--culoare-grid);
  padding: 20px;
  width: 80px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  margin-left: 20px;
  box-sizing: content-box;
  border-top: 5px solid var(--c2);
  color: var(--c1);
}

.taburi-iframe {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.container-iframe iframe {
  display: block;
  width: 100%;
}

.container-iframe {
  width: 40%;
}

#link-top {
  position: fixed;
  bottom: 0.3em;
  opacity: 0.5;
  left: 0.3em;
  width: 3rem;
  box-sizing: border-box;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  border: 1px solid grey;
  border-radius: 50%;
  background: rgb(220, 220, 220);
}
#link-top:hover {
  opacity: 1;
}

#triunghi {
  height: 0px;
  width: 0;
  display: inline-block;
  border-bottom: 1.5rem solid grey;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-radius: 50%;
  vertical-align: top right;
  transform: translateY(30%);
}

main {
  margin-top: 100px;
}

img {
  width: 100%;
  min-width: 50px;
  max-width: 200px;
}

video {
  width: 100%;
  min-width: 80px;
  max-width: 250px;
}

.banner {
  display: none;
}

#watermark {
  display: none;
}

.link {
  color: var(--culoare-grid);
  background-image: radial-gradient(
    var(--culoare-grid) 0%,
    var(--culoare-grid) 40%,
    transparent 60%,
    transparent 100%
  );
  background-size: 0 0;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.8s linear;
}

.link:hover {
  background-size: 100% 100%;
}

.link:visited {
  color: var(--link-vizitat);
}

.link:active {
  border: 1px solid var(--c1);
}

.link[href^="http"]::before {
  content: "⮳";
  font-size: 1.5rem;
}

a.link[href^="http"]:hover:before {
  color: var(--c2);
}

.vtt {
  width: 100%;
  min-width: 80px;
  max-width: 250px;
}

::cue {
  background-color: white;
  color: var(--c1);
}

.linkdespre {
  color: var(--culoare-grid);
}

#par {
  /* background-color: #f088ce;*/
  background-color: var(--fundal-despre);
  background-image: url("../imagini/back.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  border: 5px solid var(--culoare-grid);
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 400px;
}
a {
  color: var(--culoare-grid);
  text-decoration: none;
}

@keyframes anim {
  10% {
    -webkit-mask-image: repeating-radial-gradient(
      ellipse at bottom,
      black 1%,
      transparent 8%,
      /*primul black si transparentul cresc cu cate 1 procent */ black 12%
    );
  }
  50% {
    -webkit-mask-image: repeating-radial-gradient(
      ellipse at bottom,
      black 4%,
      transparent 11%,
      /*primul black si transparentul cresc cu cate 1 procent */ black 12%
    );
  }
  100% {
    -webkit-mask-image: repeating-radial-gradient(
      ellipse at bottom,
      black 4.5%,
      transparent 11.5%,
      /*primul black si transparentul cresc cu cate 1 procent */ black 12%
    );
  }
  /*20% {
    -webkit-mask-image: repeating-radial-gradient(
      ellipse at bottom,
      transparent 12%,
      black 19%
    );
  }*/
}

#text-reflectat {
  position: absolute;
  left: 0;
  top: 100%;
  transform-origin: 0 0;
  /*conetaza ordinea transformarilor!*/
  transform: rotateX(180deg) skew(-45deg) scaleY(0.5) translate(10px, -25px);
  opacity: 0.55;
  -webkit-mask-image: repeating-radial-gradient(
    ellipse at bottom,
    transparent 7%,
    black 12%
  );

  animation-name: anim;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

#text {
  position: relative;
}

#text:hover > #text-reflectat {
  animation-play-state: running;
}

#text-reflectat:hover {
  animation-play-state: running;
}

#text,
#text-reflectat {
  font-size: 50px;
  line-height: 50px;
  font-weight: bold;
}

hr {
  height: 20px;
  /* background-image: radial-gradient(#c39f76 56%, #0000 57%);*/
  /* background-image: radial-gradient(25% 25% at 25% 25%, #c39f76 80%, #0000 81%),
    radial-gradient(25% 25% at 75% 75%, #c39f76 80%, #0000 81%);*/
  background-image: radial-gradient(
      15% 15% at 30% 35%,
      #0000 60%,
      rgba(235, 24, 165, 0.8) 61% 80%,
      #0000 81%
    ),
    radial-gradient(
      20% 20% at 85% 20%,
      #0000 50%,
      rgba(107, 43, 86, 0.8) 51% 80%,
      #0000 81%
    ),
    radial-gradient(
      30% 30% at 55% 30%,
      #0000 80%,
      rgba(235, 94, 188, 0.8) 81% 90%,
      #0000 91%
    );
  background-size: 20px 20px;
  border: 0;
  -webkit-filter: blur(0.5px);
  -webkit-mask-image: linear-gradient(
    transparent 5%,
    black 5% 95%,
    transparent 100%
  );
}
#imagine {
  position: relative;
  background: url("/resurse/imagini/back.png");
  background-size: cover;
  width: 500px;
  height: 500px;
  filter: grayscale(0) brightness(200%);
  cursor: pointer;
  opacity: 1;
  transition: all 2s linear;
}

#imagine:hover {
  filter: grayscale(100%) brightness(200%);
}

#imagine:after,
#imagine:before {
  content: " ";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  transition: all 2s linear;
}

#imagine:after {
  background-color: rgb(0, 0, 255);
  mix-blend-mode: lighten;
}

#imagine:before {
  background-color: rgb(205, 0, 255);
  mix-blend-mode: darken;
}

#sc {
  overflow: hidden;
}

#st {
  transform: translateX(100%);
  animation-name: my-animation;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-webkit-keyframes my-animation {
  50% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

#coloane {
  column-count: 3;
}

::selection {
  color: var(--culoare-grid);
  background-color: white;
  text-decoration: underline var(--c1);
}

#derulant {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: absolute;
  animation-name: gal1;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 20s;
}
#derulant > * {
  flex-shrink: 0;
}
@keyframes gal1 {
  0% {
    top: 0px;
  }
  100% {
    top: -600%;
  }
}

.galerie {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;

  border: 1px solid black;
  margin-bottom: 5rem;
  background-image: url("../imagini/back2.webp");
}
.galerie figcaption {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  text-align: center;
}
.galerie figure {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#galerie_exemplu figure {
  position: absolute;
  display: block;
  z-index: 0;
  animation-name: gal_exemplu;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-duration: 21s;
  transform-origin: 0px center;
}
#galerie_exemplu figure:nth-of-type(7) {
  /* cea mai de deasupra*/
  animation-delay: 0s;
}
#galerie_exemplu figure:nth-of-type(6) {
  animation-delay: 3s;
}
#galerie_exemplu figure:nth-of-type(5) {
  animation-delay: 6s;
}
#galerie_exemplu figure:nth-of-type(4) {
  animation-delay: 9s;
}
#galerie_exemplu figure:nth-of-type(3) {
  animation-delay: 12s;
}
#galerie_exemplu figure:nth-of-type(2) {
  animation-delay: 15s;
}
#galerie_exemplu figure:nth-of-type(1) {
  animation-delay: 18s;
}

@keyframes gal_exemplu {
  0% {
    z-index: 10;
    opacity: 1;
    clip-path: circle(90%);
  } /*perioada 0-7% in care se afiseaza fara efect */
  7.142857% {
    /* transform: skewX(0deg);*/
    clip-path: circle(75%);
  }
  12% {
    opacity: 1;
    clip-path: circle(50%);
    transform: rotate(0deg);
    transform-origin: center;
  } /* de  aici doresc sa descresc si opacitatea;*/
  14.285714% {
    z-index: 10;
    opacity: 0;
    clip-path: circle(0%);
    transform: rotate(359deg);
    /* transform: skewX(90deg);*/
  }
  14.285715% {
    z-index: -10;
    /* transform: skewX(0deg);*/
  } /* il ascund cat mai in spate sa nu vina peste imaginile care erau mai sus in html decat el*/

  85.714287% {
    opacity: 0;
    /*transform: skewX(0deg);*/
    clip-path: circle(0%);
    z-index: -10;
  }
  85.714288% {
    transform: rotate(0deg);
  } /*setez z-index la 0 ca sa revina la ordinea normala de afisare*/
  100% {
    opacity: 1;
    z-index: 0;
    clip-path: circle(90%);
    transform: rotate(359deg);
  }
}
@keyframes animban {
  0% {
    background-color: var(--c1);
    border-color: var(--c2);
  }
  50% {
    background-color: var(--c2);
    border-color: var(--c1);
  }
  100% {
    background-color: var(--c1);
    border-color: var(--c2);
  }
}

@keyframes animp {
  0% {
    left: 100vw;
  }
  100% {
    left: 0;
    text-align: left;
  }
}
#cbanner {
  bottom: 0;
  width: 100vw;
  animation-name: animban;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#banner {
  position: relative;
  animation-name: animp;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
