#hamburger,
#ch-menu {
  display: none;
}

body {
  --inaltime-meniu: 45px;
  --latime-buton: 150px;
  --culoare-meniu: var(--culoare_margini);
  --culoare_fundal: #eea7d6;
  --culoare-border-buton: black;
  --inaltime-border: 1px;
}

nav {
  padding: 0;
  margin: 0;
  width: calc(100vw - 18px);
  box-sizing: border-box;
  background-color: var(--culoare-meniu);
  height: var(--inaltime-meniu);
  position: sticky;
  top: 0;
  margin-left: calc(-1 * var(--spatiere-pagina));
}

ul.meniu {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  flex-wrap: wrap;
}
ul.meniu > li {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: var(--latime-buton);
  transition: all 1s linear;
}
ul.meniu > li:hover {
  overflow: visible;
  background-color: var(--culoare_fundal);
}
ul.meniu li {
  width: var(--latime-buton);
  height: var(--inaltime-meniu);
  background-color: var(--culoare-meniu);
  overflow: hidden;
  text-align: center;
  border: var(--inaltime-border) solid var(--culoare-border-buton);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  transition: all 1s linear;
  position: relative;
}
ul.meniu li:hover ul {
  opacity: 1;
  transform: scale(1, 1);
}
ul.meniu a,
ul.meniu div {
  display: block;
  line-height: var(--inaltime-meniu);
  width: 100%;
  height: 100%;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
ul.meniu ul {
  padding: 0;
  margin: 0;
  width: var(--latime-buton);
  box-sizing: border-box;
  position: relative;
  opacity: 0;
  transform: scale(0, 0);
  transform-origin: top;
  transition: all 1s linear;
}
ul.meniu ul li::before {
  display: block;
  content: " ";
  height: 0;
  width: 10px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  /* background-image: linear-gradient(to left, transparent, black, grey, white);*/
  background-image: linear-gradient(to left, transparent, var(--culoare-meniu), var(--culoare_fundal));
  transition: all 0.5s linear;
  transform: scale(0, 0);
  transform-origin: top;
}
ul.meniu ul li::after {
  content: " ";
  display: block;
  height: 0;
  width: 10px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  /* background-image: linear-gradient(to right, transparent, black, grey, white);*/
  background-image: linear-gradient(to right, transparent, var(--culoare-meniu), var(--culoare_fundal));
  transition: all 0.5s linear;
  transform: scale(0, 0);
  transform-origin: top;
}
ul.meniu ul li:hover::before, ul.meniu ul li:hover::after {
  height: 100%;
  transform: scale(1, 1);
}

#prod {
  transition: all 1s linear;
}
#prod:hover {
  font-size: 20px;
}

#ac {
  transition: all 1s linear;
}
#ac:hover {
  font-size: 20px;
}

.pr2 {
  display: none;
}