<footer>
  <h1 id="#end">Va asteptam cu drag in locatiile noastre!</h1>
  <p class="banner">Acesta este un proiect scolar</p>
  <p>
    Micul nostru univers se intinde pe 3 insule, Funtopia Grozavesti, Funtopia
    Charlles de Gaulle si Funtopia Piata Muncii. Pentru mai multe detalii despre
    locatiile noastre, puteti accesa
    <a class="linkdespre" href="/despre">acest link</a>.
  </p>
  <p>
    <span class="fa-solid fa-bell"></span>
    Oricat de puternici ar fi, spiridusii nostrii au totusi nevoie sa se
    odihneasca uneori. Acestea fiind spuse, sunteti bineveniti in locatiile
    noastre in fiecare zi a saptamanii, intre orele 10-22.
  </p>
  <p>
    Daca doriti sa ne contactati, suntem disponibili oricand in orele de
    program,
    <strong
      >la numarul <a class="link" href="tel:+4044776955">0744776955</a> sau la
      <a class="link" href="mailto:alexiavasilache@gmail.com"
        >adresa de email alexiavasilache@gmail.com</a
      ></strong
    >
  </p>
  <p id="watermark">Vasilache <br />Alexia</p>
  <p>
    Suntem disponibili si pe whatsapp, la numarul
    <a class="link" href="https://wa.me/40744776955">0744776955</a>
  </p>

  <p>
    <small
      >Copyright &copy; <time datetime="2023-02-28">2023-02-28</time> Vasilache
      Alexia</small
    >
  </p>
  <div id="cbanner">
    <p id="banner">
      Acesta este un proiect scolar; Acceptati cookies?
      <button id="ok_cookies">OK</button>
    </p>
  </div>

  <p id="ck2">
    Acesta este un alt cookie
    <button id="ok2">Accept</button>
  </p>

  <a href="#" title="mergi sus" id="link-top"> <div id="triunghi"></div></a>
</footer>
