<footer>
  <p>
    <span class="fa-solid fa-bell"></span>
    Oricat de puternici ar fi, spiridusii nostrii au totusi nevoie sa se
    odihneasca uneori. Acestea fiind spuse, sunteti bineveniti in locatiile
    noastre in fiecare zi a saptamanii, intre orele 10-22.
  </p>
  <p>
    Daca doriti sa ne contactati, suntem disponibili oricand in orele de
    program,
    <strong
      >la numarul <a class="link" href="tel:+4044776955">0744776955</a> sau la
      <a class="link" href="mailto:alexiavasilache@gmail.com"
        >adresa de email alexiavasilache@gmail.com</a
      ></strong
    >
  </p>
  <p id="watermark">Vasilache <br />Alexia</p>
  <p>
    Suntem disponibili si pe whatsapp, la numarul
    <a class="link" href="https://wa.me/40744776955">0744776955</a>
  </p>

  <p>
    <small
      >Copyright &copy; <time datetime="2023-02-28">2023-02-28</time> Vasilache
      Alexia</small
    >
  </p>
  <p id="banner">
    Acesta este un proiect scolar; <button id="ok_cookies">OK</button>
  </p>
  <a href="#" title="mergi sus" id="link-top"> <div id="triunghi"></div></a>
</footer>
