<header>
  <h1 id="titlu">Funtopia</h1>
</header>

<main>
  <nav>
    <label id="hamburger" for="ch-menu">
      <img src="resurse/imagini/hamb.png" alt="menu" />
    </label>
    <input id="ch-menu" type="checkbox" />
    <ul class="meniu">
      <li>
        <div id="acasa2">
          <span class="fa-solid fa-house pr2"></span><span id="ac">Acasa</span>
        </div>
        <ul>
          <li><a href="#welcome">Welcomee!</a></li>
          <li><a href="#vandute">Most Wanted Toys</a></li>
          <li><a href="#oferte">Oferte speciale</a></li>
        </ul>
      </li>
      <li>
        <div id="prod">Produse</div>
        <ul>
          <li><a href="#jocuri">Jocuri</a></li>
          <li><a href="#puzzleclasic">Puzzle clasic</a></li>
          <li><a href="#puzzle3D">Puzzle 3D</a></li>
          <li><a href="#lego">Jucarii Lego</a></li>
        </ul>
      </li>
      <li class="pr"><a href="#Anunturi">Anunturi</a></li>
      <li class="pr"><a href="#intrebari">Intrebari</a></li>
      <li class="pr"><a href="#copii">Ateliere</a></li>
      <li class="pr"><a href="#informatii">Informatii</a></li>
      <li class="pr"><a href="/despre">Despre</a></li>
      <li class="pr"><a href="/galerie">Galerie</a></li>
    </ul>
  </nav>
</main>
