<script src="/resurse/js/tema.js"></script>
<script src="/resurse/js/cookies.js"></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
/>
<header>
  <h1 id="titlu">Funtopia</h1>
</header>

<!--<div class="btn-group">
  <button id="tema" class="btn btn-primary">
    <span class="bi bi-balloon-heart"></span>Schimba tema
  </button>
</div>
-->

<label
  >Alegeti tema:
  <select id="sel-tema" multiple size="3">
    <option id="light" selected value="light">Light</option>
    <option id="holiday" value="holiday">Holiday</option>
    <option id="valentine" value="valentine">Valentine</option>
  </select>
</label>
<nav>
  <label id="hamburger" for="ch-menu">
    <img src="resurse/imagini/hamb.png" alt="menu" />
  </label>
  <input id="ch-menu" type="checkbox" />
  <ul class="meniu">
    <li>
      <div id="acasa2">
        <span class="fa-solid fa-house pr2"></span><span id="ac">Acasa</span>
      </div>
      <ul>
        <li><a href="#welcome">Welcomee!</a></li>
        <li><a href="#vandute">Most Wanted Toys</a></li>
        <li><a href="#oferte">Oferte speciale</a></li>
      </ul>
    </li>
    <% for (let juc of locals.optiuniCategorie) { %>
    <li class="pr"><a href="<%- juc.unnest %>"><%- juc.unnest %></a></li>
    <%- console.log(juc.unnest) %> <% } %>
    <li class="pr"><a href="#Anunturi">Anunturi</a></li>
    <li class="pr"><a href="#intrebari">Intrebari</a></li>
    <li class="pr"><a href="#copii">Ateliere</a></li>
    <li class="pr"><a href="#informatii">Informatii</a></li>
    <li class="pr"><a href="/despre">Despre</a></li>
    <li class="pr"><a href="/galerie">Galerie</a></li>
    <li class="pr"><a href="/inregistrare">Inregistrare</a></li>
    <li><a href="/cos-virtual">Cos virtual</a></li>
    <% if(locals?.utilizator?.areDreptul?.(Drepturi.vizualizareUtilizatori)) {
    %>
    <li>
      <div>Administrare</div>
      <ul>
        <li><a href="/useri">Useri</a></li>
        <li><a href="/grafice">Grafice</a></li>
        <li><a href="/comenzi">Comenzi</a></li>
      </ul>
    </li>
    <% } %> <% if(locals.utilizator) { %>
    <li>
      <div><%- locals.utilizator.username %></div>
      <ul>
        <li><a href="/profil">Profil</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </li>
    <% } %>
  </ul>
</nav>
